Package: com.legendcoders.customlock
Name: Custom Lock
Depends: mobilesubstrate, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: Customize lock screen text
Maintainer: Infectionfx
Author: Infectionfx
Section: Tweaks
